@import '../../../styles/core/variables';

.breadcrumb-item {
    padding-left: 0 !important;

    &::before {
        float: unset !important;
        padding-right: 0 !important;
    }

    .btn-link {
        text-decoration: none;
        color: rgba($d-color-dark-tint, .5);
        opacity: 1;

        &.disabled {
            color: $d-color-link-6;
        }
    }
}