
.css-17vbkzs-MuiFormControl-root-MuiTextField-root {
    margin-top: 0.5rem !important;
    margin-bottom: 0 !important;
}

.show-error {
    color: red;
    display: block;
}

.hide-error {
    display: none;
}