.icon {
  font-size: 1.5rem;
  color: #fff;
}

.icon:not(:last-child):after {
  content: '';
  width: 0.15rem;
  height: 3.1rem;
  background-color: #fad400;
  position: absolute;
  left: 50%;
  top: 4rem;
  border-radius: 4px;
}
