.timeline {
  .icon {
    font-size: 1.5rem;
    color: #fff;
  }

  &:not(:last-child) > .icon:after {
    content: '';
    width: 0.15rem;
    height: 2.4rem;
    background-color: #fad400;
    position: absolute;
    left: 50%;
    top: 3.8rem;
    border-radius: 4px;
  }
}

.timeline-success {

  .icon {
    background-color: #089365;
  }
}

.timeline-pending {

  .icon {
    background-color: #fad400;
  }
}

.timeline-cancel {

  .icon {
    background-color: #bc3648;
  }
}