@media (max-width: 1024px) {
}

@media (max-width: 991px) {
    
}

@media (max-width: 767px) {
    .logo-mini {
            width: 15% !important;
    }

    nav li::before {
        display: none;
    }
}

@media (max-width: 575px) {
}

@media (max-width: 370px) {
    .main-header .navbar-custom-menu .navbar-nav>li>a.dropdown-toggle {
        margin: 4px 5px;
    }

    .navbar-custom-menu .navbar-nav li>a.dropdown-toggle{
        height: auto;
        width: auto;
    }
}