@import '../../../styles/core/variables';

.pagination {

    .page-link {
        padding: 0.5rem 0.9rem;
        color: $d-color-link-6;
    }

    .page-item {

        &.active{

            .page-link {
                background-color: $d-color-link-6;
                border-color: $d-color-link-6;
            }
        }
    }
}