@import '../../../../../styles/core/variables';

.cart-popup {
  position: fixed;
  left: calc(20% + 2rem);
  // transform: translateX(-50%);
  bottom: 0;
  width: 100%;
  max-width: calc(475px - 1rem * 2);
  box-shadow: 0 -4px 12px rgba(109, 79, 79, 0.1);
}

// .cart-popup {
//   animation-fill-mode: forwards;
// }

// .paragraph_mounted {
//   animation-name: in;
//   animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
// }
// .paragraph_unmounting {
//   animation-name: out;
//   animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
// }

// @keyframes in {
//   from {
//     opacity: 0;
//     transform: scale(0);
//   }

//   to {
//     opacity: 1;
//     transform: scale(1);
//   }
// }

// @keyframes out {
//   from {
//     opacity: 1;
//     transform: scale(1);
//   }

//   to {
//     opacity: 0;
//     transform: scale(0);
//   }
// }