@import '../../../styles/core/variables';

.row-summary {
  margin-bottom: -64px;
}

.dashboard-card {
  $icon-size: 64px;
  $icon-size-scaler: 16px;
  position: relative;
  overflow: hidden;
  .icon {
    width: $icon-size;
    height: $icon-size;
    border-radius: calc(#{$icon-size}/ 2);
    display: flex;
    background-color: $d-color-medium-tint;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: calc(#{$icon-size} + #{$icon-size-scaler});
      height: calc(#{$icon-size} + #{$icon-size-scaler});
      border-radius: calc((#{$icon-size} + #{$icon-size-scaler}) / 2);
      background-color: rgba($d-color-medium, 0.5);
    }
    i {
      color: $d-color-dark;
      position: relative;
      z-index: 1;
      font-size: calc(#{$icon-size} * 0.4);
    }
  }
  .fd-col {
    p {
      line-height: 1.25rem;
      word-break: break-all;
      white-space: nowrap;
    }
  }
  & > .icon-accent {
    $icon-size: 120px;
    position: absolute;
    right: calc(#{$icon-size}/ 2 * -0.5);
    bottom: calc(#{$icon-size}/ 2 * -0.5);
    font-size: $icon-size;
    opacity: 0.1;
    color: $d-color-dark;
  }
}

.manual-book {
  position: fixed;
  right: 32px;
  bottom: 24px;
  z-index: 3;
  border-radius: 8px;
  background-color: $d-color-secondary-6;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  i {
    font-size: 22px;
    padding-left: 12px;
  }
  &:hover {
    background-color: $d-color-secondary-5  ;
    color: #fff ;
  }
}
